<!--<ride-add ng-show="ridesList.isLoggedIn"></ride-add>-->
<div ng-hide="ridesList.isLoggedIn">
  Log in to create a ride!
</div>

<input type="search" ng-model="ridesList.searchText" placeholder="Search" />

<rides-sort on-change="ridesList.sortChanged(sort)" property="fromLocation" order="1"></rides-sort>

<ul>
  <li dir-paginate="ride in ridesList.rides | itemsPerPage: ridesList.perPage" total-items="ridesList.ridesCount">
    <a ui-sref="rideDetails({ rideId: ride._id })">
      {{ride.fromLocation}} to {{ride.toLocation}}
    </a>
    <p>{{ride.description}}</p>
    <ride-creator ride="ride"></ride-creator>
  </li>
</ul>

<dir-pagination-controls on-page-change="ridesList.pageChanged(newPageNumber)"></dir-pagination-controls>


<rides-map rides="ridesList.rides"></rides-map>
