<!--<ride-add ng-show="ridesList.isLoggedIn"></ride-add>-->
<!--<div ng-hide="ridesList.isLoggedIn">
  Log in to create a ride!
</div>
<br>-->
<div class="container">

    <div class="row">
      <div class="row center">
        <h4 class="header col s12">Let's travel together, make new friends and split your fare</h4>
      </div>
    </div>
</div>

<div class="row container">
  <div class="col s12">
    <h5 class="header col s6">Ride Offers</h5>
    <div class="row">
      <div class="col s4">
        <!--<input type="search" ng-model="ridesList.searchText" placeholder="Search Start Location" />-->
      </div>
      <div class="col s2">
        <rides-sort on-change="ridesList.sortChanged(sort)" property="fromLocation" order="1"></rides-sort>
      </div>
    </div>
    <ul class="collection">
      <li class="collection-item avatar" dir-paginate="ride in ridesList.rides | itemsPerPage: ridesList.perPage" total-items="ridesList.ridesCount">
        <img src="{{ridesList.getServiceImageUrl(ride.owner)}}" alt="" class="circle">
        <a ui-sref="rideDetails({ rideId: ride._id })">
          <h5>{{ride.fromLocation.replace(', United States', '')}} to {{ride.toLocation.replace(', United States', '')}}</h5>
        </a>
        <p>Estimated Start Time on {{ride.date | date:'medium'}}</p>
        <p>{{ride.description}}</p> <br>
        <h4 class="secondary-content">
          <!--<i class="material-icons">grade</i>-->
          {{ride.price | currency:"$":0 }}
        </h4>

        <span ng-hide="!ride.rules.smoking" class="chip">No Smoking</span>
        <span ng-hide="!ride.rules.music" class="chip">Music</span>
        <span ng-hide="!ride.rules.foodDrinks" class="chip">Food & Drinks</span>
        <h6 class="right hide-on-med-and-down">Posted by: {{ridesList.getUser(ride.owner) | displayNameFilter}}</h6>
      </li>
    </ul>
    <dir-pagination-controls on-page-change="ridesList.pageChanged(newPageNumber)" class="right hide-on-med-and-down"></dir-pagination-controls>
  </div>

  <div class="col s12">
    <div class="row">
      <br><br><br>
      <h5 class="header col s6">Ride Requests</h5>
      <div class="input-field col s4">
        <!--<i class="material-icons prefix">mode_edit</i>
        <input type="search" ng-model="ridesList.searchText" placeholder="Search Start Location" />-->
      </div>
      <div class="col s2">
        <rides-sort on-change="ridesList.sortChanged(sort)" property="fromLocation" order="1"></rides-sort>
      </div>
    </div>
    <ul class="collection">
      <li class="collection-item avatar" dir-paginate="ride in ridesList.rides | itemsPerPage: ridesList.perPage" total-items="ridesList.ridesCount">
        <img src="{{ridesList.getServiceImageUrl(ride.owner)}}" alt="" class="circle">
        <a ui-sref="rideDetails({ rideId: ride._id })">
          <h5>{{ride.fromLocation.replace(', United States', '')}} to {{ride.toLocation.replace(', United States', '')}}</h5>
        </a>
        <p>Estimated Start Time on {{ride.date | date:'medium'}}</p>
        <p>{{ride.description}}</p> <br>
        <span ng-hide="!ride.rules.smoking" class="chip">No Smoking</span>
        <span ng-hide="!ride.rules.music" class="chip">Music</span>
        <span ng-hide="!ride.rules.foodDrinks" class="chip">Food & Drinks</span>
        <h4 class="secondary-content">
          <!--<i class="material-icons">grade</i>-->
          {{ride.price | currency:"$":0 }}
        </h4>
        <h6 class="right hide-on-med-and-down">Posted by: {{ridesList.getUser(ride.owner) | displayNameFilter}}</h6>
      </li>
    </ul>
    <dir-pagination-controls on-page-change="ridesList.pageChanged(newPageNumber)" class="right hide-on-med-and-down"></dir-pagination-controls>
  </div>
</div>

<!--
 <div class="row container">
    <rides-map rides="ridesList.rides"></rides-map>
  </div>-->