<div id="signInModal" class="modal">
  <div class="modal-content">
    <h4 class="center">Sign In</h4>
    <div class="card brown-grey darken-1">
      <div class="card-content white-text center">
        <a class="waves-effect waves-light loginBtn loginBtn--facebook btn center" ng-click="sharegaadi.facebookLogin()">Facebook Login</a>
        <p>Currently we support only Facebook login. We will only use your facebook profile pic, name and email address.</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center">How it works</h4>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text"><i class="material-icons md-48">date_range</i></h1>
          <h6 class="center">Search driver listings leaving from your city and get where you need to go.</h6>
          <!--<p class="light">Search driver listings leaving from your city and get where you need to go.</p>-->
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text"><i class="material-icons md-48">group</i></h1>
          <h6 class="center">Connect with drivers, confirm arrangements, and split the fares.</h6>
          <!--<p class="light">Connect with drivers, confirm arrangements, and split the fares.</p>-->
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text"><i class="material-icons md-48">insert_emoticon</i></h1>
          <h6 class="center">Enjoy the trip, make some new friends, and safely arrive at your destination.</h6>
          <!--<p class="light">Enjoy the trip, make some new friends, and safely arrive at your destination.</p>-->
        </div>
      </div>
      <br><br>
      <div class="center">
        <a ui-sref="rides" class="waves-effect waves-light btn" ng-click="sharegaadi.closeHowItWorksModal()">Got it</a>
      </div>
    </div>
  </div>
</div>
<ul id="dropdown1" class="dropdown-content">
  <li ng-show="sharegaadi.isLoggedIn"><a ng-click="sharegaadi.logout()" ng-show="sharegaadi.isLoggedIn">Logout</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li ng-show="sharegaadi.isLoggedIn"><a ui-sref="myRides">Manage Rides</a></li>
  <li ng-show="sharegaadi.isLoggedIn"><a ng-click="sharegaadi.logout()" ng-show="sharegaadi.isLoggedIn">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper white">
    <!--<img src="img/vimaana_logo.png" style="height: 35px; width: 50px">-->
    <a href="/" class="brand-logo">
     <!--<i class="fa fa-vimeo fa-lg brown" aria-hidden="true"></i>-->
      <!--<i class="material-icons md-48  hide-on-med-and-down">directions_car</i>-->
      <b class="brown-text text-darken-2" style="font-style: italic;">Vimaana</b>
      <span class="green-text text-darken-2" style="font-style: oblique;">Ride</span>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse brown-text text-darken-2">
      <i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="brown-text text-darken-2" ui-sref="rides"><b>HOME</b></a></li>
      <li ng-hide="sharegaadi.isLoggedIn">
        <a class="brown-text text-darken-2" ng-click="sharegaadi.openSignInModal()"><b>POST A TRIP</b></a>
      </li>
       <li ng-show="sharegaadi.isLoggedIn">
        <a class="brown-text text-darken-2" ui-sref="addRide"><b>POST A TRIP</b></a>
      </li>
      <li ng-hide="sharegaadi.isLoggedIn">
        <a class="brown-text text-darken-2" ng-click="sharegaadi.openSignInModal()"><b>SIGN IN</b></a>
      </li>
      <li></li>
      <!--<li><a class="waves-effect waves-light btn" ui-sref="addRide">Post A Trip</a></li>-->
      <!-- Dropdown Trigger -->
      <li ng-show="sharegaadi.isLoggedIn">
        <a class="brown-text text-darken-2 dropdown-button1" href="#!" data-activates="dropdown2">{{ sharegaadi.currentUser | displayNameFilter }}<i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li ng-show="sharegaadi.isLoggedIn">
       <a> {{ sharegaadi.currentUser | displayNameFilter }}</a>
      </li>
      <li><a class="brown-text text-darken-2" ui-sref="rides"><b>Home</a></li>
      <li ng-hide="sharegaadi.isLoggedIn"><a class="brown-text text-darken-2" ng-click="sharegaadi.openSignInModal()"><b>SIGN IN</b></a></li>
      <li ng-show="sharegaadi.isLoggedIn"><a class="brown-text text-darken-2" ui-sref="addRide"><b>Post A Trip</b></a></li>
      <li ng-show="sharegaadi.isLoggedIn"><a class="brown-text text-darken-2" ui-sref="myRides"><b>Manage Rides</b></a></li>
      <li ng-hide="sharegaadi.isLoggedIn"><a class="brown-text text-darken-2" ng-click="sharegaadi.openSignInModal()"><b>POST A TRIP</b></a></li>
      <li><a class="brown-text text-darken-2" ng-click="sharegaadi.openHowItWorksModal()"><b>How it works</b></a></li>
      <li ng-show="sharegaadi.isLoggedIn"><a class="brown-text text-darken-2" ng-click="sharegaadi.logout()" ng-show="sharegaadi.isLoggedIn"><b>Logout</b></a></li>
    </ul>
  </div>
</nav>
<div>
  <div ui-view=""></div>
</div>
<footer class="page-footer white" ng-hide="sharegaadi.isCordova()">
          <div class="container">
          
          </div>
          <div class="footer-copyright brown">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Feedback?</a>
            </div>
          </div>
        </footer>
<div class="fixed-action-btn" ng-show="sharegaadi.isLoggedIn">
  <a class="btn-floating btn-large red" ui-sref="addRide">
    <i class="large material-icons">add</i>
  </a>
</div>

<script>
  $(document).ready(function () {
    $(".button-collapse").sideNav({
      closeOnClick: true
    });
    $(".dropdown-button").dropdown();
    $(".dropdown-button1").dropdown();
  })
</script>