<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">ShareGaadi</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><login-buttons></login-buttons></li>
         <li><a class="waves-effect waves-light btn" ui-sref="addRide">Post A Trip</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><login-buttons></login-buttons></li>
      </ul>
    </div>
  </nav>

<div ui-view=""></div>
