
<form name="myForm">
   <label>
    From:
  </label>
  <input name="fromLocation" ng-model="rideAdd.ride.fromLocation" details="rideAdd.ride.fromPlaceDetails" googleplace required/>
  <!--<input type="text" ng-model="rideAdd.ride.fromLocation" />-->
   <label>
    To:
  </label>
  <input ng-model="rideAdd.ride.toLocation" details="rideAdd.ride.toPlaceDetails" googleplace required/>
  <label>Start Date:</label>
  <input type="datetime-local" ng-model="rideAdd.ride.date" required>
  <label>
    Price:
  </label>
  <input type="text" ng-model="rideAdd.ride.price" required />

  <label>Car Rules</label><br>
  
      <input type="checkbox" class="filled-in" id="filled-in-box1" ng-model="rideAdd.ride.rules.smoking" />
      <label for="filled-in-box1">Smoking</label>
    
      <input type="checkbox" class="filled-in" id="filled-in-box2" ng-model="rideAdd.ride.rules.foodDrinks" />
      <label for="filled-in-box2">Food & Drinks</label>
   
      <input type="checkbox" class="filled-in" id="filled-in-box3" ng-model="rideAdd.ride.rules.music" />
      <label for="filled-in-box3">Music</label>
<br><br>
<label>
    Addtional Notes (Optional):
  </label>
  <textarea id="textarea1" class="materialize-textarea" ng-model="rideAdd.ride.description"></textarea>
<br>
  <a class="waves-effect waves-light btn" ng-click="rideAdd.submit()" ng-disabled="!myForm.fromLocation.$valid">Add Ride!</a>
  <a class="waves-effect waves-light btn" ui-sref="rides">Back</a>
</form>
