<form>
  <label>
    Ride Name:
  </label>
  <input type="text" ng-model="rideAdd.ride.name" />
  <label>
    Description:
  </label>
  <input type="text" ng-model="rideAdd.ride.description" />
   <label>
    From:
  </label>
  <input type="text" ng-model="rideAdd.ride.fromLocation" />
   <label>
    To:
  </label>
  <input type="text" ng-model="rideAdd.ride.toLocation" />
  <label>
    Public ride?
  </label>
 <input type="checkbox" ng-model="rideAdd.ride.public">
  <!--<input ng-model="chosenPlace" details="chosenPlaceDetails" googleplace/>-->

 
  <button ng-click="rideAdd.submit()">Add Ride!</button>
  <button ui-sref="rides">Back</button>
</form>
